@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body{

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }

.nav-wrapper{
  background: rgba(34, 201, 224, 0.76);
  
}

  .sectionone {
 
    background: url(img/Fondo.png) center / cover;
    height: 100vh;
  
}

.margin-content{

  margin-top: 20px;
}

.imgProfile{
  width: 200px;
  margin-bottom: 30px;
}

.imgfilter{
  width: 80px;
  margin: 10px;
}

.scrollable {
  overflow: scroll; width: 100%; height:300px;
  position: absolute;
}

.secciondos{
  background:linear-gradient(150deg,#31709d -10%,#bdd3c4 110%);
}

.input-size{
  width: 50%!important;

}
#allPokemons{
display: flex;
height: 400px;
overflow-y: scroll;
}


.showFilterPokemon{
flex-wrap: wrap;
}

/*
 *Scrolling
 */

 a[ id= "root" ]:target ~ #pokeProfile div.panel {
  -webkit-transform: translateY( 0px);
  transform: translateY( 0px );
}

a[ id= "galeria" ]:target ~ #main article.panel {
  -webkit-transform: translateY( -100% );
  transform: translateY( -100% );
}
a[ id= "contacto" ]:target ~ #main article.panel {
  -webkit-transform: translateY( -200% );
  transform: translateY( -200% );
}


@media (max-width: 1024px) {
 }

@media (max-width:  768px) { 
}