@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body{
  background: #f2f2f2;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }

header{
  background-color: #71F4D6;
  background-image: url("img/header.jpg")  #71F4D6 0.7;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}
.search {
    width: 100%;
    position: relative;
}
.searchTerm {
    float: left;
    width: 100%;
    border: 2px solid #00B4CC;
    padding: 5px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
    position: absolute;
    right: -40px;
    width: 50px;
    height: 50px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contenedor{

    width: 500px;
    margin: 0 auto;
}