@import 'https://fonts.googleapis.com/css?family=Lato:400,700';



body {
    font-family: 'Lato', sans-serif;
}


section {
    background: rgba(34, 201, 224, 0.76) url(img/Fondo.png) center / cover;
}

.logo {
    height: 80px;
}

.gradiantContaineruno {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 15px;
    padding: 20px;
}

.gradiantContainer {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 15px;
    padding: 0px;
    
}


.navbar-back{
    background: rgba(34, 201, 224, 0.76);
}

.backgroundColor {
    background: rgba(34, 201, 224, 0.76);
    padding: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.backgroundImage {
    background: rgba(255, 255, 255, 0.39);
    border: solid rgba(34, 201, 224, 0.76) 5px;
}

.tipographyWeight {
    font-weight: 700;
}

h1, p{
    text-align: center;
    margin: 20px;
}

.searching {
    text-align: center;
}

.is-horizontal-center {
    justify-content: center;
}

.imgProfile {
    width: 200px;
    margin-bottom: 30px;
}

.imgfilter {
    width: 80px;
    margin: 10px;
}



.input-size {
    width: 80%!important;
}

.align-seccion {
    vertical-align: middle;
}

#allPokemons {
    display: flex;
    height: 500px;
    overflow-y: scroll;
}

.showFilterPokemon {
    flex-wrap: wrap;
}

.marginiconos{
    margin-top:100px;
}

.tags{
    justify-content: center;
}
.navbar-item{
    color: #ffffff!important;
}

a.navbar-item:hover {

    color: #666666!important;
}
.margin-card{
    background-color: transparent;
    padding: 0.08rem;
}

footer{
    background-color: #2285E0!important;
    padding: 2%;
}

@media screen and (max-width: 1087px){
    .navbar-menu{
        background: rgba(34, 201, 224, 0.76)!important; 
    }

    
}


