@import 'https://fonts.googleapis.com/css?family=Lato:400,700';



body {
    font-family: 'Lato', sans-serif;
}


section {
    background: rgba(34, 201, 224, 0.76) url(img/Fondo.png) center / cover;
}

.logo {
    height: 80px;
}

.gradiantContaineruno {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 15px;
    padding: 20px;
}

.gradiantContainer {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 15px;
    padding: 0px;
    
}


.navbar-back{
    background: rgba(34, 201, 224, 0.76);
}

.backgroundColor {
    background: rgba(34, 201, 224, 0.76);
    padding: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.backgroundImage {
    background: rgba(255, 255, 255, 0.39);
    border: solid rgba(34, 201, 224, 0.76) 5px;
}

.tipographyWeight {
    font-weight: 700;
}

h1, p{
    text-align: center;
    margin: 20px;
}

.searching {
    text-align: center;
}

.is-horizontal-center {
    justify-content: center;
}

.imgProfile {
    width: 200px;
    margin-bottom: 30px;
}

.imgfilter {
    width: 80px;
    margin: 10px;
}



.input-size {
    width: 80%!important;
}

.align-seccion {
    vertical-align: middle;
}

#allPokemons {
    display: flex;
    height: 500px;
    overflow-y: scroll;
}

.showFilterPokemon {
    flex-wrap: wrap;
}

.marginiconos{
    margin-top:100px;
}

.tags{
    justify-content: center;
}
.navbar-item{
    color: #ffffff!important;
}

a.navbar-item:hover {

    color: #666666!important;
}
.margin-card{
    background-color: transparent;
    padding: 0.08rem;
}

footer{
    background-color: #2285E0!important;
    padding: 2%;
}

.chart{
    width: 100%;
 min-height: 450px;

}

.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#06C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	font-size:24px;
	margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1087px){
    .navbar-menu{
        background: rgba(34, 201, 224, 0.76)!important; 
    }

    
}


